// Name:            Base
// Description:     Sets default values for HTML elements
//
// ========================================================================

// Variable
// ========================================================================

@base-body-font-size:                           12px;
@base-body-font-family:                         "Helvetica Neue", Helvetica, Arial, sans-serif;
@base-body-background:                          #fff;
@base-body-color:                               #666;

@base-link-color:                               #666;
@base-link-hover-color:                         #333;

@base-margin-vertical:                          15px;

@base-hr-border-width:                          1px;
@base-hr-border:                                #666;

@base-code-color:                               #D05;
@base-code-font-size:                           12px;
@base-code-font-family:                         Consolas, monospace, serif;

@base-pre-padding:                              0px;
@base-pre-background:                           #fff;
@base-pre-color:                                #444;
@base-pre-font-size:                            12px;
@base-pre-line-height:                          18px;

/* ========================================================================
   Component: Base
 ========================================================================== */

html, body { height: 100%; }

html { font-size: @base-body-font-size; }

body {
    background: @base-body-background;
    color: @base-body-color;
    font-family: @base-body-font-family;
}

a { text-decoration: none; }
a:hover { text-decoration: underline; }

a { color: @base-link-color; }
a:hover { color: @base-link-hover-color; }

p,
hr,
ul,
ol,
dl,
blockquote,
pre,
address,
fieldset,
figure { margin: 0 0 @base-margin-vertical 0; }

img {
  max-width: 100%;
  vertical-align: middle;
}

button,
input,
select { vertical-align: middle; }

input[type="radio"],
input[type="checkbox"] { vertical-align: baseline; }

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

button,
input,
select,
textarea {
    font-family: inherit; /* 1 */
    font-size: 100%; /* 2 */
    margin: 0; /* 3 */
    -moz-box-sizing: border-box; /* 4 */
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

select { font-size: 12px; }

hr {
    display: block;
    padding: 0;
    border: 0;
    border-top: @base-hr-border-width solid @base-hr-border;
}

/* Code and preformatted text
 ========================================================================== */

code {
    color: @base-code-color;
    font-size: @base-code-font-size;
    white-space: nowrap;
}

/* Reset code elements if parent of pre elements */
pre code {
    color: inherit;
    white-space: pre-wrap;
}

pre {
    padding: @base-pre-padding;
    background: @base-pre-background;
    color: @base-pre-color;
    font-size: @base-pre-font-size;
    line-height: @base-pre-line-height;
    -moz-tab-size: 4;
    tab-size: 4;
}

table th { text-align: left; }
