// Name:            Button
// Description:     Defines styles for buttons
//
// Component:       jv-button
//
// Modifiers:       jv-button-primary
//                  jv-button-success
//                  jv-button-danger
//                  jv-button-disabled
//                  jv-button-mini
//                  jv-button-small
//                  jv-button-large
//
// States:          jv-active
//
// ========================================================================


// Variable
// ========================================================================

@button-height:                                 30px;
@button-mini-height:                            20px;
@button-small-height:                           25px;
@button-large-height:                           35px;

@button-line-height:                            @button-height;
@button-mini-line-height:                       @button-mini-height;
@button-small-line-height:                      @button-small-height;
@button-large-line-height:                      @button-large-height;

@button-font-size:                              16px;
@button-mini-font-size:                         12px;
@button-small-font-size:                        14px;
@button-large-font-size:                        18px;

@button-padding-horizontal:                     30px;
@button-mini-padding-horizontal:                15px;
@button-small-padding-horizontal:               20px;
@button-large-padding-horizontal:               35px;

@button-background:                             #494949;
@button-color:                                  #fff;
@button-hover-background:                       #636363;
@button-hover-color:                            #fff;
@button-active-background:                      #494949;
@button-active-color:                           #fff;
@button-border-bottom-color:                    #202020;

@button-disabled-background:                    #b8b5af;
@button-disabled-color:                         #fff;
@button-disabled-border-bottom-color:           #9b9b9b;

@button-primary-background:                     #ff6766;
@button-primary-color:                          #fff;
@button-primary-hover-background:               #ff7372;
@button-primary-hover-color:                    #fff;
@button-primary-active-background:              #ff6766;
@button-primary-active-color:                   #fff;
@button-primary-border-bottom-color:            #ff4c4b;

@button-success-background:                     #00ce9b;
@button-success-color:                          #fff;
@button-success-hover-background:               #00dfa8;
@button-success-hover-color:                    #fff;
@button-success-active-background:              #00ce9b;
@button-success-active-color:                   #fff;
@button-success-border-bottom-color:            #1f7f5c;

@button-danger-background:                     #ffb527;
@button-danger-color:                          #fff;
@button-danger-hover-background:               #ffbd3f;
@button-danger-hover-color:                    #fff;
@button-danger-active-background:              #ffb527;
@button-danger-active-color:                   #fff;
@button-danger-border-bottom-color:            #f7a22f;


/* ========================================================================
   Component: Button
    ========================================================================== */

.jv-button {
    display: inline-block;
    min-height: @button-height;
    padding: 0 @button-padding-horizontal;
    border: none;
    border-bottom: @global-border-bottom-width solid @button-border-bottom-color;
    text-align: center;
    background: @button-background;
    line-height: @button-line-height;
    border-radius: @global-border-radius;
    font-size: @button-font-size;
    color: @button-color;
    letter-spacing: normal;
    .hook-button;
}

a.jv-button {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    vertical-align: middle;
    text-decoration: none;
}

.jv-button:hover,
.jv-button:focus {
    background-color: @button-hover-background;
    color: @button-hover-color;
    outline: none;
    .hook-button-hover;
}

.jv-button:active,
.jv-button.jv-active {
    background-color: @button-active-background;
    color: @button-active-color;
    .hook-button-active;
}

.jv-button:active {
    border-bottom-width: @global-border-bottom-width - 1;
    margin-top: 1px;
    .hook-button-click;
}

.jv-button.jv-active:active {
    border-bottom-width: @global-border-bottom-width;
    margin-top: 0px;
}

.jv-button:disabled,
.jv-button-disabled,
.jv-button-disabled:hover,
.jv-button-disabled:active,
.jv-button-disabled:focus {
    cursor: default;
    background-color: @button-disabled-background;
    color: @button-disabled-color;
    border-bottom: @global-border-bottom-width solid @button-disabled-border-bottom-color;
    margin-top: 0;
}


/* Color modifiers
 ========================================================================== */

.jv-button-primary {
    background: @button-primary-background;
    color: @button-primary-color;
    border-bottom-color: @button-primary-border-bottom-color;
    .hook-button-primary;
}

.jv-button-primary:hover,
.jv-button-primary:focus {
    background-color: @button-primary-hover-background;
    color: @button-primary-hover-color;
    .hook-button-primary-hover;
}

.jv-button-primary:active,
.jv-button-primary.jv-active {
    background-color: @button-primary-active-background;
    color: @button-primary-active-color;
    .hook-button-primary-active;
}

.jv-button-success {
    background: @button-success-background;
    color: @button-success-color;
    border-bottom-color: @button-success-border-bottom-color;
}

.jv-button-success:hover,
.jv-button-success:focus {
    background-color: @button-success-hover-background;
    color: @button-success-hover-color;
}

.jv-button-success:active,
.jv-button-success.jv-active {
    background-color: @button-success-active-background;
    color: @button-success-active-color;
}

.jv-button-danger {
    background: @button-danger-background;
    color: @button-danger-color;
    border-bottom-color: @button-danger-border-bottom-color;
}

.jv-button-danger:hover,
.jv-button-danger:focus {
    background-color: @button-danger-hover-background;
    color: @button-danger-hover-color;
}

.jv-button-danger:active,
.jv-button-danger.jv-active {
    background-color: @button-danger-active-background;
    color: @button-danger-active-color;
}


/* Size modifiers
 ========================================================================== */

.jv-button-mini {
    min-height: @button-mini-height;
    padding: 0 @button-mini-padding-horizontal;
    line-height: @button-mini-line-height;
    font-size: @button-mini-font-size;
}

.jv-button-small {
    min-height: @button-small-height;
    padding: 0 @button-small-padding-horizontal;
    line-height: @button-small-line-height;
    font-size: @button-small-font-size;
}

.jv-button-large {
    min-height: @button-large-height;
    padding: 0 @button-large-padding-horizontal;
    line-height: @button-large-line-height;
    font-size: @button-large-font-size;
}


// Hooks
// ========================================================================

.hook-button-misc;

.hook-button() {}
.hook-button-hover() {}
.hook-button-active() {}
.hook-button-click() {}
.hook-button-primary() {}
.hook-button-primary-hover() {}
.hook-button-primary-active() {}
.hook-button-misc() {}

