// Name:            Form
// Description:     Defines styles for forms
//
// Component:       jv-form
//
// Sub-objects:     jv-form-row
//
// Modifiers:       jv-form-stacked
//
//
// ========================================================================

// Variables
// ========================================================================

@form-height:                                   28px;

@form-border:                                   #b5b5b5;
@form-background:                               #fff;
@form-color:                                    #666;
@form-placeholder-color:                        #b4b4b4;

@form-focus-border:                             #a1a1a1;
@form-focus-background:                         @form-background;
@form-focus-color:                              @form-color;

@form-disabled-border:                          @form-border;
@form-disabled-background:                      #f8f8f8;
@form-disabled-color:                           #b5b5b5;

@form-gutter:                                   15px;
@form-legend-font-size:                         18px;
@form-legend-line-height:                       2em;
@form-legend-border:                            #545454;
@form-legend-color:                             #333;


@form-success-border:                            @form-border;
@form-success-background:                        #fff;

@form-danger-border:                            #dc8d99;
@form-danger-background:                        #fff;


@form-stacked-label-margin-horizontal:          3px;
@form-stacked-label-color:                      #333;

@form-horizontal-label-width:                   200px;
@form-horizontal-label-margin-top:              2px;

/* ========================================================================
   Component: Form
 ========================================================================== */

.jv-form select,
.jv-form textarea,
.jv-form input[type="text"],
.jv-form input[type="password"],
.jv-form input[type="datetime"],
.jv-form input[type="datetime-local"],
.jv-form input[type="date"],
.jv-form input[type="month"],
.jv-form input[type="time"],
.jv-form input[type="week"],
.jv-form input[type="number"],
.jv-form input[type="email"],
.jv-form input[type="url"],
.jv-form input[type="search"],
.jv-form input[type="tel"],
.jv-form input[type="color"] {
    height: @form-height;
    max-width: 100%;
    padding: 4px 6px;
    border: 1px solid @form-border;
    background: @form-background;
    color: @form-color;
    -webkit-transition: all linear 0.2s;
    transition: all linear 0.2s;
    .hook-form;

    &:focus {
        border-color: @form-focus-border;
        outline: 0;
        background: @form-focus-background;
        color: @form-focus-color;
    }

    &:disabled {
        border-color: @form-disabled-border;
        background-color: @form-disabled-background;
        color: @form-disabled-color;
    }
}

.jv-form :-ms-input-placeholder { color: @form-placeholder-color !important; } 
.jv-form ::-moz-placeholder { color: @form-placeholder-color; }
.jv-form ::-webkit-input-placeholder { color: @form-placeholder-color; }

.jv-form :disabled:-ms-input-placeholder { color: @form-disabled-color !important; } 
.jv-form :disabled::-moz-placeholder { color: @form-disabled-color; }
.jv-form :disabled::-webkit-input-placeholder { color: @form-disabled-color; }

/* Reset height
 ========================================================================== */

.jv-form textarea,
.jv-form select[multiple],
.jv-form select[size] { height: auto; }

.jv-form legend {
    width: 100%;
    padding-bottom: @form-gutter;
    font-size: @form-legend-font-size;
    line-height: @form-legend-line-height;
    color: @form-legend-color;
}

.jv-form legend:after {
    content: "";
    display: block;
    border-bottom: 2px solid @form-legend-border;
}

.jv-form-success {
    border-color: @form-success-border !important;
    background: @form-success-background !important;
}

.jv-form-danger {
    border-color: @form-danger-border !important;
    background: @form-danger-background !important;
}



/* Sub-objects: jv-form-row
 * Groups labels and controls in rows
 ========================================================================== */

.jv-form-row:before,
.jv-form-row:after {
    content: " ";
    display: table;
}
.jv-form-row:after { clear: both; }
.jv-form-row + .jv-form-row { margin-top: @form-gutter; }


.jv-form-help-inline {
    display: inline-block;
    margin: 0 0 0 10px;
}

.jv-form-help-block { margin: 5px 0 0 0; }


/* modifiers: jv-form-stacked
 ========================================================================== */

.jv-form-stacked .jv-form-label {
    display: block;
    margin-bottom: @form-stacked-label-margin-horizontal;
    color: @form-stacked-label-color;
}

.jv-form-error-msg {
    //@text-color-warning
    color: #c78676;
    margin: 0;
    padding: 0;
    list-style: none;
}
.jv-form-error-msg > li:before {
    content: '';
    //@jv-icon-error-xxx;
    display: inline-block;
    background-image: url("/resources/jv/img/icon-sprit.png");
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
    background-position: -371px -58px;
    //@jv-icon-small
    vertical-align: -25%;
}

.jv-form-horizontal .jv-form-label {
    width: @form-horizontal-label-width;
    margin-top: @form-horizontal-label-margin-top;
    text-align: right;
    float: left;
    padding-right: 10px;
}

.jv-form-horizontal .jv-form-error-msg {
    display: inline-block;
    margin-left: 5px;
}






.hook-form-misc;

.hook-form() {}
.hook-form-misc() {}



