// Name:            Hook
// Description:     Sets dirty values with hook
//
// ========================================================================

.hook-breadcrumb() {
    padding-bottom: 20px;
}
.hook-modal-content() {
    font-size: 14px;
    line-height: 1.8;
}

.hook-tab-misc() {
    .jv-switcher > li { display: none; }
    .jv-switcher > .jv-active { display: block; }
}
.hook-nav-side-hover() {
    &:after {
        content: '';
        background-image: url("@{icon-path}/icon-sprit.png");
        background-repeat: no-repeat;
        .jv-icon-right-arrow;
        float: right;
        margin-top: 5px;
        margin-left: -10px;
    }
}
.hook-nav-side-active() {
    &:after {
        content: '';
        background-image: url("@{icon-path}/icon-sprit.png");
        background-repeat: no-repeat;
        .jv-icon-right-arrow;
        float: right;
        margin-top: 5px;
        margin-left: -10px;
    }
}
.hook-nav-misc() {
    .jv-nav-side { padding-bottom: 15px; }
    .jv-nav-side li { text-align: center; }

    .jv-nav-side .jv-nav-sub > li > a {
        color: #666;
        min-height: @nav-side-height;
        line-height: @nav-side-height;
        background: @nav-sub-background;
        padding: @nav-padding-vertical @nav-padding-horizontal;
    }
    .jv-nav-side .jv-nav-sub > li > a:hover,
    .jv-nav-side .jv-nav-sub > li.jv-active > a {
        color: @text-warning-color;
        &:after {
            content: '';
            background-image: url("@{icon-path}/icon-sprit.png");
            background-repeat: no-repeat;
            .jv-icon-right-arrow-primary;
            float: right;
            margin-top: 5px;
            margin-left: -10px;
        }
    }


}

.hook-alert() {
    p { text-align: center; }
}

.hook-heading-misc() { 
    h1,h2,h3,h4,h5,h6{ color: #333; }
}
