// Name:            Icon
// Description:     Defines styles for icons
//
// Component:       jv-icon-*
//
// ========================================================================

@icon-path:                                "../img";

[class*='jv-icon-'] {
    display: inline-block;
    font-weight: normal;
    font-style: normal;
    background-image: url("@{icon-path}/icon-sprit.png");
    background-repeat: no-repeat;
}

.jv-icon-close {
    width: 16px;
    height: 16px;
    background-position: -10px -10px;
}

.jv-icon-confirm-ask {
    width: 40px;
    height: 40px;
    background-position: -258px -10px;
}

.jv-icon-confirm-success {
    width: 40px;
    height: 40px;
    background-position: -305px -10px;
}

.jv-icon-confirm-error {
    width: 40px;
    height: 40px;
    background-position: -352px -10px;
}
