/* Reset 
 ========================================================================== */
small {
  font-size: 80%;
}
button,
input,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 2 */
  margin: 0;
  /* 3 */
}
button,
input {
  line-height: normal;
}
button,
select {
  text-transform: none;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}
input[type="radio"],
input[type="checkbox"] {
  cursor: pointer;
}
/*
 * Re-set default cursor for disabled elements.
 */
button:disabled,
input:disabled {
  cursor: default;
}
/*
 * 2. Removes excess padding in IE 8/9.
 */
input[type="checkbox"],
input[type="radio"] {
  padding: 0;
}
/*
 * 1. Addresses `appearance` set to `searchfield` in Safari 5 and Chrome.
 */
input[type="search"] {
  -webkit-appearance: textfield;
}
/*
 * Removes inner padding and search cancel button in Safari 5 and Chrome on OS X.
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
/*
 * Removes inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
/*
 * 1. Removes default vertical scrollbar in IE 8/9.
 * 2. Improves readability and alignment in all browsers.
 */
textarea {
  overflow: auto;
  /* 1 */
  vertical-align: top;
  /* 2 */
}
/*
 * Removes placeholder transparency in Firefox.
 */
/*
::-moz-placeholder { opacity: 1; }
*/
/* Tables
 ========================================================================== */
/*
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* ========================================================================
   Component: Base
 ========================================================================== */
body {
  color: #666666;
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
a {
  color: #000000;
}
a:hover {
  color: #000000;
}
button,
input,
select {
  vertical-align: middle;
}
input[type="radio"],
input[type="checkbox"] {
  vertical-align: baseline;
}
/* ========================================================================
   Component: Grid
 ========================================================================== */
.jv-grid:before,
.jv-grid:after {
  content: " ";
  display: table;
}
.jv-grid:after {
  clear: both;
}
.jv-grid {
  margin: 0 0 0 -25px;
  padding: 0;
  list-style: none;
}
.jv-grid + .jv-grid {
  margin-top: 25px;
}
.jv-grid > [class*='jv-width-'] {
  margin: 0;
  padding-left: 25px;
  float: left;
}
[class*='jv-width-'] {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
}
.jv-width-1-1 {
  width: 100%;
}
.jv-width-1-2,
.jv-width-2-4,
.jv-width-3-6,
.jv-width-5-10 {
  width: 50%;
}
.jv-width-1-3,
.jv-width-2-6 {
  width: 33.333%;
}
.jv-width-2-3,
.jv-width-4-6 {
  width: 66.666%;
}
.jv-width-1-4 {
  width: 25%;
}
.jv-width-3-4 {
  width: 75%;
}
.jv-width-1-5,
.jv-width-2-10 {
  width: 20%;
}
.jv-width-2-5,
.jv-width-4-10 {
  width: 40%;
}
.jv-width-3-5,
.jv-width-6-10 {
  width: 60%;
}
.jv-width-4-5,
.jv-width-8-10 {
  width: 80%;
}
.jv-width-1-6 {
  width: 16.666%;
}
.jv-width-5-6 {
  width: 83.333%;
}
.jv-width-1-10 {
  width: 10%;
}
.jv-width-3-10 {
  width: 30%;
}
.jv-width-7-10 {
  width: 70%;
}
.jv-width-9-10 {
  width: 90%;
}
/* ========================================================================
   Component: Panel
 ========================================================================= */
.jv-panel {
  padding: 15px;
  line-height: 1.8em;
}
.jv-panel:before,
.jv-panel:after {
  content: " ";
  display: table;
}
.jv-panel:after {
  clear: both;
}
/* Sub-object: `jv-panel-title`
 ========================================================================== */
.jv-panel-title {
  margin-bottom: 5px;
  font-size: 14px;
  font-weight: bold;
  color: #c78676;
}
/* Modifier: jv-panel-box
 ========================================================================== */
.jv-panel-box {
  color: #666666;
  background: #ffffff;
}
.jv-panel-box .jv-panel-title {
  color: #333333;
}
/* Modifier: Color and Background
 ========================================================================== */
.jv-panel-primary {
  color: #666666;
  background: #f8f7f6;
}
/* Modifier: Color and Background
 ========================================================================== */
.jv-panel-secondary {
  color: #666666;
  background: #dcdad5;
}
/* Modifier: jv-panel-border
 ========================================================================== */
.jv-panel-border {
  border: 1px solid #bebebe;
}
/* ========================================================================
   Component: Nav
 ========================================================================== */
.jv-nav,
.jv-nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.jv-nav li > a {
  display: block;
  text-decoration: none;
}
.jv-nav > li > a {
  padding: 5px 15px;
}
.jv-nav-header {
  padding: 5px 15px;
  font-weight: normal;
  font-size: 14px;
  color: #ffffff;
  background: #969696;
  margin-top: 15px;
}
.jv-nav-header:first-child {
  margin-top: 0;
}
/* Modifier jv-nav-side
 ========================================================================== */
/*
 * Items
 */
.jv-nav-side {
  background: #e8e6e0;
}
.jv-nav-side > li > a {
  min-height: 20px;
  line-height: 20px;
  color: #333333;
}
.jv-nav-side > li > a:hover,
.jv-nav-side > li > a:focus {
  background: #f8f7f5;
  color: #333333;
  outline: none;
}
.jv-nav-side > li > a:hover:after,
.jv-nav-side > li > a:focus:after {
  content: '';
  background-image: url("/resources/jv/img/icon-sprit.png");
  background-repeat: no-repeat;
  background-position: -10px -35px;
  width: 7px;
  height: 11px;
  float: right;
  margin-top: 5px;
  margin-left: -10px;
}
.jv-nav-side > li.jv-active > a {
  background: #d5d3ce;
  color: #333333;
}
.jv-nav-side > li.jv-active > a:after {
  content: '';
  background-image: url("/resources/jv/img/icon-sprit.png");
  background-repeat: no-repeat;
  background-position: -10px -35px;
  width: 7px;
  height: 11px;
  float: right;
  margin-top: 5px;
  margin-left: -10px;
}
.jv-nav-side.jv-nav-parent-icon > .jv-parent.jv-open {
  background: #d5d3ce;
}
.jv-nav-side.jv-nav-parent-icon > .jv-parent:hover > a:after,
.jv-nav-side.jv-nav-parent-icon > .jv-parent.jv-open > a:after {
  content: '';
  margin-right: 0px;
  background-image: url("/resources/jv/img/icon-sprit.png");
  background-repeat: no-repeat;
  background-position: -9px -55px;
  width: 11px;
  height: 7px;
  float: right;
  margin-top: 6px;
  margin-left: -10px;
}
.jv-nav-side {
  padding-bottom: 15px;
}
.jv-nav-side li {
  text-align: center;
}
.jv-nav-side .jv-nav-sub > li > a {
  color: #666;
  min-height: 20px;
  line-height: 20px;
  background: #ffffff;
  padding: 5px 15px;
}
.jv-nav-side .jv-nav-sub > li > a:hover,
.jv-nav-side .jv-nav-sub > li.jv-active > a {
  color: #c78676;
}
.jv-nav-side .jv-nav-sub > li > a:hover:after,
.jv-nav-side .jv-nav-sub > li.jv-active > a:after {
  content: '';
  background-image: url("/resources/jv/img/icon-sprit.png");
  background-repeat: no-repeat;
  background-position: -10px -71px;
  width: 7px;
  height: 11px;
  float: right;
  margin-top: 5px;
  margin-left: -10px;
}
/* ========================================================================
   Component: Breadcrumb
    ========================================================================== */
.jv-breadcrumb {
  padding: 0;
  list-style: none;
  letter-spacing: -0.31em;
  padding-bottom: 20px;
}
.jv-breadcrumb > li {
  letter-spacing: normal;
}
.jv-breadcrumb > li,
.jv-breadcrumb > li > a,
.jv-breadcrumb > li > span {
  display: inline-block;
}
.jv-breadcrumb > li:before {
  content: "/";
  display: inline-block;
  margin: 0 8px;
  vertical-align: top;
}
.jv-breadcrumb > li:first-child:before {
  content: '';
  display: inline;
  margin: 0;
}
/* ========================================================================
   Component: Tab
 ========================================================================== */
.jv-tab {
  margin: 0;
  padding: 0;
  list-style: none;
  border-bottom: 1px solid #d1cfc9;
}
.jv-tab:before,
.jv-tab:after {
  content: " ";
  display: table;
}
.jv-tab:after {
  clear: both;
}
.jv-tab > li {
  margin-bottom: -1px;
  float: left;
}
.jv-tab > li > a {
  display: block;
  padding: 6px 20px;
  margin-left: 5px;
  border: 1px solid transparent;
  border-bottom-width: 0;
  color: #333333;
  text-decoration: none;
}
.jv-tab > li:first-child > a {
  margin-left: 0;
}
.jv-tab > li > a:hover,
.jv-tab > li > a:focus {
  background: none;
  color: inherit;
  outline: none;
}
.jv-tab > li.jv-active > a {
  background: #b8b5af;
  color: #ffffff;
}
/* Modifier: jv-tab-center
 ========================================================================== */
.jv-tab-center {
  border-bottom: 1px solid #d1cfc9;
}
.jv-tab-center-bottom {
  border-bottom: none;
  border-top: 1px solid #d1cfc9;
}
.jv-tab-center:before,
.jv-tab-center:after {
  content: " ";
  display: table;
}
.jv-tab-center:after {
  clear: both;
}
.jv-tab-center .jv-tab {
  position: relative;
  left: 50%;
  border: none;
  float: left;
}
.jv-tab-center .jv-tab > li {
  position: relative;
  left: -50%;
}
.jv-tab-center .jv-tab > li > a {
  text-align: center;
}
/* Modifier: jv-tab-grid
 ========================================================================== */
.jv-tab-grid > li > a {
  text-align: center;
}
.jv-switcher > li {
  display: none;
}
.jv-switcher > .jv-active {
  display: block;
}
/* Modifier: jv-tab-radius
 ========================================================================== */
.jv-tab-radius > li > a {
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}
/* ========================================================================
   Component: Table
 ========================================================================== */
.jv-table {
  width: 100%;
  margin-bottom: 15px;
}
* + .jv-table {
  margin-top: 15px;
}
.jv-table th,
.jv-table td {
  padding: 8px 8px;
}
.jv-table th {
  text-align: left;
}
.jv-table td {
  vertical-align: top;
}
.jv-table thead th {
  vertical-align: bottom;
}
/* Modifier: jv-table-striped
 ========================================================================== */
.jv-table-dashed th {
  background: #f7f5f2;
}
.jv-table-dashed tbody tr td {
  border-bottom: 1px dashed #b5b5b5;
}
/* ========================================================================
   Component: Heading
 ========================================================================== */
h1 {
  margin: 0 0 15px 0;
  font-weight: normal;
}
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 10px 0;
  font-weight: normal;
}
h1,
.jv-h1 {
  font-size: 22px;
  line-height: 28px;
}
h2,
.jv-h2 {
  font-size: 20px;
  line-height: 26px;
}
h3,
.jv-h3 {
  font-size: 18px;
  line-height: 24px;
}
h4,
.jv-h4 {
  font-size: 16px;
  line-height: 22px;
}
h5,
.jv-h5 {
  font-size: 14px;
  line-height: 20px;
}
h6,
.jv-h6 {
  font-size: 12px;
  line-height: 18px;
}
.jv-heading-primary {
  border-bottom: 2px solid #545454;
  line-height: 2em;
  color: #333333;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #333;
}
/* ========================================================================
   Component: Button
    ========================================================================== */
.jv-button {
  display: inline-block;
  min-height: 30px;
  padding: 0 30px;
  border: none;
  text-align: center;
  background: #969696;
  line-height: 30px;
  border-radius: 4px;
  font-size: 16px;
  color: #ffffff;
  letter-spacing: normal;
}
a.jv-button {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  vertical-align: middle;
  text-decoration: none;
}
.jv-button:hover,
.jv-button:focus {
  background-color: #7b7b7b;
  color: #ffffff;
  outline: none;
}
.jv-button:active,
.jv-button.jv-active {
  background-color: #7b7b7b;
  color: #ffffff;
}
.jv-button:disabled {
  background-color: #b8b5af;
  color: #ffffff;
}
/* Color modifiers
 ========================================================================== */
.jv-button-primary {
  background: #eeab9a;
  color: #ffffff;
}
.jv-button-primary:hover,
.jv-button-primary:focus {
  background-color: #e49e8c;
  color: #ffffff;
}
.jv-button-primary:active,
.jv-button-primary.uk-active {
  background-color: #e49e8c;
  color: #ffffff;
}
/* Size modifiers
 ========================================================================== */
.jv-button-small {
  min-height: 25px;
  padding: 0 20px;
  line-height: 25px;
  font-size: 14px;
}
.jv-button-mini {
  min-height: 20px;
  padding: 0 15px;
  line-height: 20px;
  font-size: 12px;
}
/*
 * Behave like a block element and take the full width
 */
.jv-button-expand {
  display: block;
  width: 100%;
}
.jv-button-expend + .jv-button-expend {
  margin-top: 10px;
}
[class*='jv-icon-'] {
  display: inline-block;
  background-image: url("/resources/jv/img/icon-sprit.png");
  background-repeat: no-repeat;
}
.jv-icon-close {
  width: 16px;
  height: 16px;
  background-position: -10px -10px;
}
.jv-icon-confirm-ask {
  width: 40px;
  height: 40px;
  background-position: -258px -10px;
}
.jv-icon-confirm-success {
  width: 40px;
  height: 40px;
  background-position: -305px -10px;
}
.jv-icon-confirm-error {
  width: 40px;
  height: 40px;
  background-position: -352px -10px;
}
.jv-icon-story {
  background-position: -363px -310px;
  width: 26px;
  height: 19px;
}
.jv-icon-tel {
  background-position: -361px -280px;
  width: 17px;
  height: 22px;
}
.jv-icon-online {
  background-position: -363px -370px;
  width: 26px;
  height: 19px;
}
.jv-icon-cart {
  background-position: -363px -337px;
  width: 29px;
  height: 24px;
}
.jv-icon-right-arrow {
  background-position: -10px -35px;
  width: 7px;
  height: 11px;
}
.jv-icon-right-arrow-primary {
  background-position: -10px -71px;
  width: 7px;
  height: 11px;
}
.jv-icon-bottom-arrow {
  background-position: -9px -55px;
  width: 11px;
  height: 7px;
}
.jv-icon-good {
  width: 24px;
  height: 24px;
  background-position: -35px -9px;
}
.jv-icon-diamond {
  width: 24px;
  height: 24px;
  background-position: -35px -42px;
}
.jv-icon-mobile {
  width: 24px;
  height: 24px;
  background-position: -35px -76px;
}
.jv-icon-email {
  width: 24px;
  height: 24px;
  background-position: -35px -110px;
}
.jv-icon-lock {
  width: 24px;
  height: 24px;
  background-position: -35px -144px;
}
.jv-icon-home {
  width: 24px;
  height: 24px;
  background-position: -35px -178px;
}
.jv-icon-user {
  width: 24px;
  height: 24px;
  background-position: -35px -212px;
}
.jv-icon-calendar {
  width: 24px;
  height: 24px;
  background-position: -35px -245px;
}
.jv-icon-card {
  width: 24px;
  height: 24px;
  background-position: -35px -279px;
}
.jv-icon-heart {
  width: 24px;
  height: 24px;
  background-position: -35px -313px;
}
.jv-icon-qq {
  width: 24px;
  height: 24px;
  background-position: -69px -8px;
}
.jv-icon-weibo {
  width: 24px;
  height: 24px;
  background-position: -69px -68px;
}
.jv-icon-share {
  width: 12px;
  height: 16px;
  background-position: -10px -90px;
}
.jv-icon-small {
  vertical-align: -25%;
}
.jv-icon-big {
  vertical-align: -15%;
}
/* Modifier: jv-icon-button
 ========================================================================== */
.jv-icon-button {
  border: 1px solid transparent;
}
.jv-icon-button:hover,
.jv-icon-button:focus {
  border: 1px solid #999999;
  text-decoration: none;
  outline: none;
}
/* ========================================================================
   Component: Alert
 ========================================================================== */
.jv-alert {
  margin-bottom: 15px;
  padding: 10px;
  background: #ebf7fd;
  color: #2d7091;
}
.jv-alert p {
  text-align: center;
}
* + .jv-alert {
  margin-top: 15px;
}
.jv-alert > .jv-close:first-child {
  float: right;
}
/* Modifier: jv-alert-warning
 ========================================================================== */
.jv-alert-warning {
  background: #fff1f0;
  color: #d85030;
}
.modal-open {
  overflow: hidden;
}
.modal {
  display: none;
  overflow: auto;
  overflow-y: scroll;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1040;
}
.modal.fade .modal-dialog {
  -webkit-transform: translate(0, -25%);
  -ms-transform: translate(0, -25%);
  transform: translate(0, -25%);
  -webkit-transition: -webkit-transform 0.3s ease-out;
  -moz-transition: -moz-transform 0.3s ease-out;
  -o-transition: -o-transform 0.3s ease-out;
  transition: transform 0.3s ease-out;
}
.modal.in .modal-dialog {
  -webkit-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  transform: translate(0, 0);
}
.modal-dialog {
  position: relative;
  width: 600px;
  margin: 30px auto;
  z-index: 1050;
  background: #ffffff;
}
.modal-title {
  font-size: 16px;
  border-bottom: 1px solid #c1c1c1;
  line-height: 38px;
  padding: 0 20px;
}
.modal-dialog > .modal-close:first-child {
  position: absolute;
  right: 14px;
  top: 11px;
  z-index: 1;
}
.modal-content {
  padding: 20px;
  font-size: 14px;
  line-height: 1.8;
}
.modal-footer {
  text-align: center;
  padding: 20px 20px 50px;
}
.modal-footer .jv-button + .jv-button {
  margin-left: 20px;
}
/* Modifier: modal-dialog-small
 ========================================================================== */
.modal-dialog-small {
  width: 500px;
}
.modal-dialog-small > .modal-close:first-child {
  right: 9px;
  top: 9px;
}
.modal-dialog-small > .modal-content {
  text-align: center;
  font-size: 16px;
  padding: 60px 20px 20px;
}
/* Modifier: modal-dialog-large
 ========================================================================== */
.modal-dialog-large {
  width: 980px;
}
.modal-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1030;
  background-color: #000000;
}
.modal-backdrop.fade {
  opacity: 0;
  filter: alpha(opacity=0);
}
.modal-backdrop.in {
  opacity: 0.3;
  filter: alpha(opacity=30);
}
@media screen and (max-width: 768px) {
  .modal-dialog {
    width: auto;
    margin: 10px;
  }
}
/* ========================================================================
   Component: Text
    ========================================================================== */
/* Color modifiers
 ========================================================================== */
.jv-text-muted {
  color: #999999 !important;
}
.jv-text-warning {
  color: #c78676 !important;
}
/* ========================================================================
   Component: Utility
 ========================================================================== */
.jv-container {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 980px;
  padding: 0 25px;
  margin: 0 auto;
}
.jv-float-left {
  float: left;
}
.jv-float-right {
  float: right;
}
[class*='jv-float-'] {
  max-width: 100%;
}
.jv-display-inline-block {
  display: inline-block !important;
}
/*
 * Margins
 */
.jv-margin-top-small {
  margin-top: 15px !important;
}
.jv-margin-bottom-small {
  margin-bottom: 15px !important;
}
.jv-margin-left-small {
  margin-left: 15px !important;
}
.jv-margin-right-small {
  margin-right: 15px !important;
}
.jv-margin-top-medium {
  margin-top: 30px !important;
}
.jv-margin-bottom-medium {
  margin-bottom: 30px !important;
}
.jv-margin-left-medium {
  margin-left: 30px !important;
}
.jv-margin-right-medium {
  margin-right: 30px !important;
}
