// Name:            Nav
// Description:     Defines styles for list navigations
//
// Component:       jv-nav
//
// Sub-objects:     jv-nav-header
//
// ========================================================================

// Variables
// ========================================================================

@nav-padding-vertical:                          5px;
@nav-padding-horizontal:                        15px;

@nav-parent-icon-margin-right:                  0px;
@nav-parent-actived-background:                 #d5d3ce;

@nav-sub-background:                            #fff;

@nav-header-padding-vertical:                   @nav-padding-vertical;
@nav-header-padding-horizontal:                 @nav-padding-horizontal;
@nav-header-font-size:                          14px;
@nav-header-color:                              #fff;
@nav-header-background:                         #969696;
@nav-header-font-weight:                        normal;
@nav-header-margin-top:                         15px;

@nav-side-color:                                #333;
@nav-side-background:                           #e8e6e0;
@nav-side-height:                               20px;
@nav-side-font-size:                            12px;

@nav-side-hover-background:                     #f8f7f5;
@nav-side-hover-color:                          #333;
@nav-side-active-background:                    #d5d3ce;
@nav-side-active-color:                         #333;

@nav-side-open-font-size:                       14px;


/* ========================================================================
   Component: Nav
 ========================================================================== */

.jv-nav,
.jv-nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.jv-nav li > a {
    display: block;
    text-decoration: none;
}

.jv-nav > li > a { padding: @nav-padding-vertical @nav-padding-horizontal; }

.jv-nav-header {
    padding: @nav-header-padding-vertical @nav-header-padding-horizontal;
    font-weight: @nav-header-font-weight;
    font-size: @nav-header-font-size;
    color: @nav-header-color;
    background: @nav-header-background;
    margin-top: @nav-header-margin-top;
}

.jv-nav-header:first-child { margin-top: 0; }

/* Modifier jv-nav-side
 ========================================================================== */

/*
 * Items
 */
.jv-nav-side { background: @nav-side-background; }

.jv-nav-side > li > a {
    min-height: @nav-side-height;
    line-height: @nav-side-height;
    color: @nav-side-color;
    font-size: @nav-side-font-size;
    .hook-nav-side;
}

.jv-nav-side > li > a:hover,
.jv-nav-side > li > a:focus {
    background: @nav-side-hover-background;
    color: @nav-side-hover-color;
    outline: none;
    .hook-nav-side-hover;
}

.jv-nav-side > li.jv-active > a ,
.jv-nav-side > li.jv-open > a {
    background: @nav-side-active-background;
    color: @nav-side-active-color;
    .hook-nav-side-active;
}

.jv-nav-side.jv-nav-parent-icon > .jv-parent.jv-open {
    background: @nav-parent-actived-background;
}

.jv-nav-side.jv-nav-parent-icon > .jv-parent.jv-open > a {
    font-size: @nav-side-open-font-size;
}

.jv-nav-side.jv-nav-parent-icon > .jv-parent:hover > a:after,
.jv-nav-side.jv-nav-parent-icon > .jv-parent.jv-open > a:after {
    content: '';
    margin-right: @nav-parent-icon-margin-right;
    background-image: url("@{icon-path}/icon-sprit.png");
    background-repeat: no-repeat;
    .jv-icon-bottom-arrow;
    float: right;
    margin-top: 6px;
    margin-left: -10px;
}


.hook-nav-misc;

.hook-nav-side() {}
.hook-nav-side-hover() {}
.hook-nav-side-active() {}
.hook-nav-misc() {}


