// Name:            Panel
// Description:     Defines styles for reusable content areas
//
// Sub-objects:     jv-panel-title
//
//
// Component:       jv-panel
//
// Modifiers:       jv-panel-border
//                  jv-panel-primary
//                  jv-panel-secondary
//                  jv-panel-tertiary
//
// ========================================================================

// Variables
// ========================================================================

@panel-padding:                                 30px;
@panel-line-height:                             1.8;

@panel-title-font-weight:                       bold;
@panel-title-color:                             #c78676;

@panel-primary-background:                      #04ce9b;
@panel-primary-color:                           #fff;
@panel-primary-title-color:                     #fff;
@panel-primary-border-bottom-color:             #1f7f5c;

@panel-secondary-background:                    #04c7ce;
@panel-secondary-color:                         #fff;
@panel-secondary-title-color:                   #fff;
@panel-secondary-border-bottom-color:           #1f7e7f;

@panel-tertiary-background:                     #ff6766;
@panel-tertiary-color:                          #fff;
@panel-tertiary-title-color:                    #fff;
@panel-tertiary-border-bottom-color:           #ff4c4b;

@panel-border-color:                            #bebebe;


/* ========================================================================
   Component: Panel
 ========================================================================= */

.jv-panel {
    padding: @panel-padding;
    line-height: @panel-line-height;
    border-radius: @global-border-radius;
}

.jv-panel:before,
.jv-panel:after {
    content: " ";
    display: table;
}

.jv-panel:after { clear: both; }


/* Sub-object: `jv-panel-title`
 ========================================================================== */

.jv-panel-title {
    font-weight: @panel-title-font-weight;
    color: @panel-title-color;
}


/* Modifier: Color and Background
 ========================================================================== */

.jv-panel-primary {
    color: @panel-primary-color;
    background: @panel-primary-background;
    border-bottom: @global-border-bottom-width solid @panel-primary-border-bottom-color;
}
.jv-panel-primary .jv-panel-title { color: @panel-primary-title-color; }

.jv-panel-secondary {
    color: @panel-secondary-color;
    background: @panel-secondary-background;
    border-bottom: @global-border-bottom-width solid @panel-secondary-border-bottom-color;
}

.jv-panel-secondary .jv-panel-title { color: @panel-secondary-title-color; }

.jv-panel-tertiary {
    color: @panel-tertiary-color;
    background: @panel-tertiary-background;
    border-bottom: @global-border-bottom-width solid @panel-tertiary-border-bottom-color;
}

.jv-panel-tertiary .jv-panel-title { color: @panel-tertiary-title-color; }

/* Modifier: jv-panel-border
 ========================================================================== */

.jv-panel-border {
    border: 1px solid @panel-border-color;
}

