// Name:            Tab
// Description:     Defines styles for a tabbed navigation
//
// Component:       jv-tab
//
// Modifiers:       jv-tab-grid
//                  jv-tab-center
//
// ========================================================================


// Variables
// ========================================================================

@tab-border-color:                              #d1cfc9;
@tab-padding-horizontal:                        20px;
@tab-padding-vertical:                          6px;
@tab-color:                                     #333;

@tab-hover-background:                          none;
@tab-hover-color:                               inherit;

@tab-active-background:                         #b8b5af;
@tab-active-color:                              #fff;

@tab-radius:                                    3px;


/* ========================================================================
   Component: Tab
 ========================================================================== */

.jv-tab {
    margin: 0;
    padding: 0;
    list-style: none;
    border-bottom: 1px solid @tab-border-color;
}

.jv-tab:before,
.jv-tab:after {
    content: " ";
    display: table;
}

.jv-tab:after { clear: both; }

.jv-tab > li {
    margin-bottom: -1px;
    float: left;
}

.jv-tab > li > a {
    display: block;
    padding: @tab-padding-vertical @tab-padding-horizontal;
    margin-left: 5px;
    border: 1px solid transparent;
    border-bottom-width: 0;
    color: @tab-color;
    text-decoration: none;
}

.jv-tab > li:first-child > a { margin-left: 0; }

.jv-tab > li > a:hover,
.jv-tab > li > a:focus {
    background: @tab-hover-background;
    color: @tab-hover-color;
    outline: none;
}

.jv-tab > li.jv-active > a {
    background: @tab-active-background;
    color: @tab-active-color;
}

/* Modifier: jv-tab-center
 ========================================================================== */

.jv-tab-center { border-bottom: 1px solid @tab-border-color; }

.jv-tab-center-bottom {
    border-bottom: none;
    border-top: 1px solid @tab-border-color;
}

.jv-tab-center:before,
.jv-tab-center:after {
    content: " ";
    display: table;
}  

.jv-tab-center:after { clear: both; }

.jv-tab-center .jv-tab {
    position: relative;
    left: 50%;
    border: none;
    float: left;
}

.jv-tab-center .jv-tab > li {
    position: relative;
    left: -50%;
}  

.jv-tab-center .jv-tab > li > a { text-align: center; }



/* Modifier: jv-tab-grid
 ========================================================================== */

.jv-tab-grid > li > a {
    text-align: center;
    .hook-tab-grid;
}

.hook-tab-misc;

.hook-tab-grid() {}
.hook-tab-misc() {}

/* Modifier: jv-tab-radius
 ========================================================================== */

.jv-tab-radius > li > a {
    border-top-left-radius: @tab-radius;
    border-top-right-radius: @tab-radius;
}

