// Name:            Text
// Description:     Collection of useful text utility classes to style your content
//
// Component:       jv-text-*
//
// ========================================================================

// Variables
// ========================================================================

@text-muted-color:                              #999;
@text-warning-color:                            #c78676;

/* ========================================================================
   Component: Text
    ========================================================================== */

/* Color modifiers
 ========================================================================== */

.jv-text-muted { color: @text-muted-color !important; }
.jv-text-warning { color: @text-warning-color !important; }

