// Name:            Utility
// Description:     Collection of useful utility classes to style your content
//
// Component:       jv-float-*
//
// ========================================================================

// Variables
// ========================================================================




/* ========================================================================
   Component: Utility
 ========================================================================== */

.jv-float-left { float: left; }
.jv-float-right { float: right; }

[class*='jv-float-'] { max-width: 100%; }


