// Name:            Utility
// Description:     Collection of useful utility classes to style your content
//
// Component:       jv-float-*
//
// ========================================================================

// Variables
// ========================================================================

@utility-container-width:                       1220px;
@utility-container-padding-horizontal:          0px;

@utility-container-primary-padding-horizontal:  20px;
@utility-container-primary-padding-vertical:    35px;
@utility-container-primary-background:          #fff;

@utility-margin-vertical-small:                 15px;
@utility-margin-horizontal-small:               15px;

@utility-margin-vertical-medium:                30px;
@utility-margin-horizontal-medium:              30px;

@utility-margin-vertical-large:                 45px;
@utility-margin-horizontal-large:               45px;

@utility-font-size-small:                       12px;

@utility-border-color:                          #d1cfc9;


/* ========================================================================
   Component: Utility
 ========================================================================== */


.jv-container {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: @utility-container-width;
    padding: 0 @utility-container-padding-horizontal;
    margin: 0 auto;
}

.jv-container-primary {
    padding: @utility-container-primary-padding-vertical @utility-container-primary-padding-horizontal;
    background: @utility-container-primary-background;
}

.jv-float-left { float: left; }
.jv-float-right { float: right; }

[class*='jv-float-'] { max-width: 100%; }

.jv-display-inline-block { display: inline-block!important; }


.jv-height-1-1 { height: 100%; }

/* Vertical alignment
 ========================================================================== */

.jv-vertical-align:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.jv-vertical-align-middle,
.jv-vertical-align-bottom {
    display: inline-block;
    max-width: 100%;
    margin-left: -4px;
}

.jv-vertical-align-middle { vertical-align: middle; }
.jv-vertical-align-bottom { vertical-align: bottom; }



/*
 * Margins
 */

.jv-margin-top-small { margin-top: @utility-margin-vertical-small !important; }
.jv-margin-bottom-small { margin-bottom: @utility-margin-vertical-small !important; }
.jv-margin-left-small { margin-left: @utility-margin-horizontal-small !important; }
.jv-margin-right-small { margin-right: @utility-margin-horizontal-small !important; }

.jv-margin-top-medium { margin-top: @utility-margin-vertical-medium !important; }
.jv-margin-bottom-medium { margin-bottom: @utility-margin-vertical-medium !important; }
.jv-margin-left-medium { margin-left: @utility-margin-horizontal-medium !important; }
.jv-margin-right-medium { margin-right: @utility-margin-horizontal-medium !important; }

.jv-margin-top-large { margin-top: @utility-margin-vertical-large !important; }
.jv-margin-bottom-large { margin-bottom: @utility-margin-vertical-large !important; }
.jv-margin-left-large { margin-left: @utility-margin-horizontal-large !important; }
.jv-margin-right-large { margin-right: @utility-margin-horizontal-large !important; }

.jv-font-size-small { font-size: @utility-font-size-small; }

.jv-border {
    border: 1px solid @utility-border-color;
}



.jv-hidden {
    display: none !important;
    visibility: hidden !important;
}

// Hooks
// ========================================================================

.hook-utility-misc;

.hook-utility-misc() {}
